.rendered-image {
  width: 300px;
}

.output-js {
  list-style: none;
}

.stats {
  display: flex;
  justify-content: center;
}

.stats-item {
  padding: 0 20px;
}
.grid{
  display: grid;
}

.grid-sizer,
.grid-item {
  width: 33%;
  margin-bottom: 10px;
}

.grid-item__img{
  display: block;
  max-width: 100%;
}
