html {
  box-sizing: border-box;
}

.wrapper{
  width: 50%;
  display: grid;
  margin: auto;
}

.js-image{
  width: 200px;
}
.display-info{
  text-align: center;
  font-family: sans-serif;
  font-size: 26px;
  list-style: none;
}